#The one-step analysis and compilation flow is used to support legacy ICE 

veanalyze AXI_master.sv AXI_slave.sv  AXI_top_design.sv AXI_Interface.sv

#rtlc -partition_module_rtl axi
#Declare top level module 
comp -top AXI_top_design 

#Declare single step compile/analysis flow
comp -single_step

#Solo is D1S
comp -platform D1S

comp -num_boards 1

#ICE Legacy Support enabled
comp -app legacy 


